.git
.gitignore
.env
.env.*
!.env.example
**/.git
**/node_modules
**/vendor
**/__pycache__
**/.venv
**/storage/logs
**/bootstrap/cache/*.php
.idea
.vscode
*.md
!README.md
docs/
scripts/
.github/
LICENSE
